body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

#gameCanvas {
    background-color: #111;
    /* Ограничиваем максимальный размер канваса */
    max-width: 100vw;
    max-height: 100vh;
}

@media (max-width: 600px) {
    #gameCanvas {
        /* Изменяем размер канваса для телефонов */
        width: 100vw;
        height: 100vh;
    }
}
